# requirements
py2app
pip-tools

pyobjc-framework-Cocoa
pyobjc-framework-ExceptionHandling
pyobjc-framework-UserNotifications
twisted[tls,macos-platform]
mypy<1.6.0
mypy-zope
python-dateutil
types-python-dateutil
ulid-py
quickmacapp
quickmachotkey
encrust
datetype
fritter
